<!-- Services Section -->
    <section id="vision" class="bg-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Vision</h2>
                    <p class="section-subheading text-muted" style="font-size: 17px">Skillhub is an application that enables employees to quickly and efficiently figure out who knows what and who's working on what. Leveraging smart tooling integrations, Skillhub can figure out what skills and expertise each employee has, as well as which projects they are most actively working on.</p>
                    <p class="section-subheading text-muted" style="font-size: 17px">
                    By centralizing knowledge that is scattered across multiple different applications, and potentially only known through word-of-mouth, Skillhub will enable employees to better handle project resourcing and scheduling while also easing the pain of finding people with valuable expertise to help when a project inevitably runs into issues.</p>
                </div>
            </div>
        </div>
    </section>
