<!-- Services Section -->
    <section id="vision" class="bg-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Why Skillhub?</h2>
                    <p class="section-subheading text-muted" style="font-size: 17px">
		    	In the workplace it can be difficult to determine who has skills and expertise in a given area. When stuck solving complex problems or managing large teams of varied individuals, employees will tend towards direct connections therefore losing the effectiveness of an experts point of view.
                    </p>
		    <p class="section-subheading text-muted" style="font-size: 17px">Skillhub provides a solution for this problem as an application that enables employees to quickly and efficiently figure out who knows what and who's working on what. Leveraging smart tooling integrations, Skillhub can figure out what skills and expertise each employee has, as well as which projects they are most actively working on.</p>
                </div>
            </div>
        </div>
    </section>
