<!-- Team Section -->
    <section id="benefits" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">benefits</h2>
                </div>
            </div>
             <div class="row panels-row">
               <div class="panel panel-margin panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title text-dark">Project Planning</h3>
                </div>
                <div class="panel-body text-muted">
                    With Skillhub, creating experienced teams is easy. <br><br>
                    By searching for the skills important to your project, Skillhub will provide you with a list of eligible employees.
                </div>
              </div><div class="panel panel-margin panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title text-dark">Hiring</h3>
                </div>
                <div class="panel-body text-muted">
                  With skill based analytics, hiring a diverse and knowledgable team is painless.
                    <br> <br>
                  By viewing the skill distribution of your team's, Skillhub allows hiring managers to fill in knowledge gaps and avoid issues with unknown technology.
                </div>
              </div><div class="panel panel-margin panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title text-dark">Project Assistance</h3>
                </div>
                <div class="panel-body text-muted">
                  Making use of employee knowledge, Skillhub simplifies the problem solving process.
                    <br><br>
                  By searching for skills related to your problem, Skillhub will provide employees who can assist you as well as projects which might contain the required solution.
                </div>
              </div>
            </div>
        </div>
    </section>
