<!-- Clients Aside -->
<aside class="clients bg-light-gray">
  <div class="container">
    <div class="row client-parent">
      <span class="fa-stack fa-4x client-child">
          <i class="fab fa-react" style="color: grey"></i>
      </span>
      <span class="fa-stack fa-4x client-child">
          <i class="fab fa-node-js"style="color: grey"></i>
      </span>
      <span class="fa-stack fa-4x client-child"style="color: grey">
          <i class="fab fa-sass"></i>
      </span>
      <span class="fa-stack fa-4x client-child"style="color: grey">
          <i class="fab fa-docker"></i>
      </span>
    </div>
  </div>
</aside>
