
<!-- Portfolio Grid Section -->
    <section id="mockups" class="bg-light-gray">
        <div class="container">
            <div class="row flex-row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Mock-Ups</h2>
                  <h3 class="section-subheading text-muted"></h3>
              </div>
              <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="7000">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  {% for post in site.posts %}
                    <li data-target="#myCarousel" data-slide-to="{{ post.modal-id }}" class="{{ post.active }}"></li>
                  {% endfor %}
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                  {% for post in site.posts %}
                    <div class="img-parent item {{ post.active }}">
                      <img class="img-child" src="img/portfolio/{{ post.img }}" alt="{{ post.title }}">
                      <div class="carousel-caption">
                        <h3></h3>
                        <p></p>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            <a href="https://www.figma.com/proto/aGd0geHGMsdSen6QkOaAjufW/Mockups?node-id=0%3A1&scaling=contain" class="btn btn-info proto-button" role="button">View Full Prototype</a>
        </div>
    </section>
