<!-- About Section -->
    <section id="timeline" class="bg-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Timeline</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">

			<!-- Timeline element 1 -->
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2019</h4>
                                    <h4 class="subheading">Design and Planning</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The initial planning stages will capture the scope of the problem and generate a set of artifacts to fully understand the solution.</p>
                                    <p class="text-muted">Upon completion, development will begin with the initialization of the development environment and required tools.</p>
                                </div>
                            </div>
                        </li>

			<!-- Timeline element 2 -->
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 2019</h4>
                                    <h4 class="subheading">Structural Development</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Developing the core structure of the database, application and backend.</p>
                                    <p class="text-muted">With the core of the application complete, focus will be on integrating government applications to collect and display data.</p>
                                </div>
                            </div>
                        </li>

			<!-- Timeline element 3 -->
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2019</h4>
                                    <h4 class="subheading">Development and User Testing</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Development will focus on integrating applications and implementing client features such as editing and searching data.</p>
                                    <p class="text-muted">With client features implemented, QA testing will occur to ensure that project requirements are met.</p>
                                </div>
                            </div>
                        </li>

			<!-- Timeline element 4 -->
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2019</h4>
                                    <h4 class="subheading">Final Preparation and Delivery</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Preparing for project delivery by completing development of client features and fixing issues found in QA testing.</p>
                                    <p class="text-muted">Once complete, preparation and delivery of the final product will occur.</p>
                                </div>
                            </div>
                        </li>

			<!-- Timeline end -->
                        <li class="timeline-inverted">
                            <div class="timeline-image timeline-flex">
                                <h4>Project
                                    <br>Release!</h4>
                            </div>
</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
