<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Timeline</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">

			<!-- Timeline element 1 -->
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2019</h4>
                                    <h4 class="subheading">Design and Planning</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The first month will contain design and planning as well as development of the login and sign up systems.</p>
                                </div>
                            </div>
                        </li>

			<!-- Timeline element 2 -->
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 2019</h4>
                                    <h4 class="subheading">Structural Development</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Developing the structure of the databases, application and backend will be completed.</p>
                                </div>
                            </div>
                        </li>

			<!-- Timeline element 3 -->
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2019</h4>
                                    <h4 class="subheading">Continued Development and User Testing</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">With a baseline application created testing will be done to ensure that features work as intended and main features will continue to be implemented.</p>
                                </div>
                            </div>
                        </li>

			<!-- Timeline element 4 -->
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2019</h4>
                                    <h4 class="subheading">Final Preparation and Delivery</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Finishing up the final requirements, removing bugs found in user testing and preparing for project delivery.</p>
                                </div>
                            </div>
                        </li>

			<!-- Timeline end -->
                        <li class="timeline-inverted">
                            <div class="timeline-image timeline-flex">
                                <h4>Project
                                    <br>Release!</h4>
                            </div>
</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
