<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}
    {% include about_skillhub.html %}
    {% include features.html %}
    {% include architecture.html %}
    {% include mock_ups.html %}
    {% include timeline.html %}
    {% include benefits.html %}
    {% include team.html %}
    {% include clients.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}

    </body>
</html>
